     body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }
    header {
      background-color: #4e4e4e;
      padding: 10px;
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
    .tabs {
      display: flex;
      justify-content: center;
      background-color: #4e4e4e;
      padding: 10px;
      gap: 10px;
      }
    .tab-button {
      background-color: linear-gradient(to bottom right, #504b4b, #4e4e4e)
      border 1px solid #aaa;
      padding: 10px 24px;
      border-radius: 12px;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1)
    }
    .tab-button:hover {
       background: #f0f0f0;
       transform: translateY(-2px);
       box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    }
    .tab-button.active {
      background-color: #f0f0f0;
      transform: translateY(-2px);
      box-shadow: o 4px 10px rgba(0,0,0,2);   
    }
    .editor-container {
      padding: 10px;
      border-top: 2px solid black;
    }
    .CodeMirror {
      display: none;
    }
    .CodeMirror.visible {
      display: block;
    }
    .hidden {
      display: none;
    }
    h2 {
      text-align: center;
      margin: 10px 0;
    }
    #run-button {
      display: block;
      margin: 20px auto;
      padding: 14px 32px;
      font-size: 16px;
      background: linear-gradient(to right, #4CAF50, #45a049);
      color: white;
      border: none;
      border-radius: 12px;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0,0,0,2);

    }
    #run-botton:hover {
      background:  linear-gradient(to right,#4caf49,#3e8e41);
    }
    iframe {
      width: 100%;
      height: 300px;
      border: 1px solid #ccc;
      background: white;
    }
